@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';

:root {
    --primary-light: #ddd;
    --primary-dark: #1A1A1D;
    --secondary-dark: #4E4E50;
    --secondary-dark-hover: #4a4f57;
    --secondary-dark-active: #5b5f68;
    --primary-red: #950740;
  }

body {
    width: 100%;
    margin: 0;
    font-family: 'Press Start 2P', cursive;

    display: flex;
    flex-direction: column ;
}

/* Navbar */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--primary-dark);
    text-align: center;
    padding: 10px 15% 100px 15%;
}

.topnavbar, .bottomnavbar {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.topnavbar a {
    text-decoration: none;
    font-size: 60px;
    font-weight: bolder;
    color: var(--primary-red);
}

.bottomnavbar a {
    text-decoration: none;
    text-decoration: underline;
    font-size: 28px;
    color: var(--primary-red);
}

@media only screen and (max-width: 850px) {
    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 18px;
      padding: 10px 15% 30px 15%;
    }

    .topnavbar a {
        font-size: 42px;
    }

  }

/* Main Body */

.mainbody {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-dark);
    padding-top: 20px;
}

/* */

.infoArea {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 28px;
    text-align: center;
}

.selectionInterface {
    background-color: #1A1A1D;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.userSide, .computerSide {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    font-family: 'Press Start 2P', cursive;
    background-color: var(--primary-red);
    color: var(--primary-light);
    font-size: larger;
    width: 45vh;
    height: 20vh;

    border-radius: 12px;
    font-size: 25px;

    justify-content: center;
    align-items: center;
}

.computerSide button {
    background-color: #5b5f68;
}

.outputArea {
    background-color: #1A1A1D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--primary-light);
    font-size: 40px;

    border: 12px solid var(--primary-red);
    margin: 10px;
    
}

@media only screen and (max-width: 850px) {
    .outputArea {
        font-size: 18px;
    }

    .userSide {
        display: flex;
        flex-direction: column;
    }

    button {
        width: 40vw;
        height: 15vw;

        font-size: large;
    }

  }


/* Footer */
.footer {
    display: flex;
    justify-content: center;
    width: 100%;

    background-color: #1A1A1D;
    color: var(--primary-red);
    font-size: 20px;
    text-align: center;
}